@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

.abtLogo {
  height: 60px;
  margin: 5px; }

/*
*	ALLGEMEIN
*/
ul,
ol {
  list-style: none; }

hr {
  width: 100%;
  height: 1px;
  background-color: lightgrey;
  border: none;
  margin: 20px; }

a {
  text-decoration: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*
*	ALLGEMEIN #OVER
*/

/*
*	the normal content page
*/
.content {
  width: 100%;
  -webkit-transition: left 800ms 1ms;
  transition: left 800ms 1ms;
  position: absolute;
  height: calc(100% - 70px);
  padding-top: 70px; }
  .content .intro {
    height: calc(100% - 80px);
    width: 100%; }
  .content > i {
    font-size: 60px;
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
    height: 70px;
    line-height: 70px; }
  .content .innerContent {
    max-width: 1200px;
    margin: 10px auto; }
    .content .innerContent h1,
    .content .innerContent h2 {
      font-weight: 300;
      margin-bottom: 5px; }
    .content .innerContent h1 {
      letter-spacing: 2px; }
    .content .innerContent ul {
      list-style: circle;
      margin: 0 0 9px 25px; }

#content-unscrolled {
  left: 100%;
  display: none; }

#content-scrolled {
  left: 0;
  display: block; }

/*
*	the normal content page #OVER
*/

@media only screen and (max-width: 650px) {
  .abtLogo {
    height: 80px; } }
@media only screen and (max-width: 450px) {
  .abtLogo {
    height: 60px; } }
@media only screen and (max-width: 860px) {
  #abt-info-scrolled {
    right: 0;
    -webkit-transform: translateX(-300%) !important;
    transform: translateX(-300%) !important; }

  #abt-aut-scrolled {
    right: 0;
    -webkit-transform: translateX(-200%) !important;
    transform: translateX(-200%) !important; }

  #abt-mech-scrolled {
    right: 0;
    -webkit-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important; }

  #abt-rob-scrolled {
    right: 0;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important; } }
